body {
  background: #eee;
  color: #666;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 1.25rem;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  background-color: #0bd;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,.5) 0px 2px 2px;
}
.results {
  border-radius: 50px;
  background: #eee;
  box-shadow: 5px 5px 8px #bbb, -5px -5px 8px #fff;
  padding: 2rem;
  width: min(90%, 500px);
  margin: auto;
  border-spacing: 0;
}
td {
  padding: .5rem 0;
}
tr:not(:last-child) td {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 2px -1px #fff;
}
td:nth-child(odd) {
  text-align: right;
}
td:nth-child(even) {
  text-align: left;
  font-size: 2rem;
  padding-left: 2rem;
}
td.tdcenter {
  text-align: center;
}
td.tdcenter h2 {
  margin: 0 0 1rem;
}
.selector {
  margin-bottom: 3rem;
}
select,
.btn {
  color: #666;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}
select {
  font-family: 'Nunito', sans-serif;
  background: #eee;
  box-shadow: inset 3px 3px 5px #bbb, inset -3px -3px 5px #fff;
  margin-right: 1rem;
  font-size: 1.5rem; 
}
.btn {
  padding: .65rem 1rem;
  box-shadow: 5px 5px 8px #bbb, -5px -5px 8px #fff;
  background-image: linear-gradient(45deg, #eee, #74d7e8);
  text-decoration: none;
  font-size: 1rem;
  transition: .5s;
}
.btn:hover {
  background-image: linear-gradient(90deg, #eee, #74d7e8);
}
.btn:active {
  box-shadow: inset 5px 5px 8px #bbb, inset -5px -5px 8px #fff;
}
.flex {
  display: grid;
  gap: 2rem 0;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.menu {
  margin: 2rem 0 3rem;
}
.menu .btn {
  margin: 1rem;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #74d7e8;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}